#categoryformadd {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #ccc;
    transition: all 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #F0F3F4, #ffffff);
}

#categoryformadd h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #4CAF50;
}

#categoryformadd input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
}

#categoryformadd input:focus {
    border: 1px solid #4CAF50;
    outline: none;
}

#categoryformadd button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    font-weight: bold;
}

#categoryformadd button:hover {
    background-color: #3e8e41;
    transform: scale(1.1);
}
#deletebox {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #ccc;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

#deletebox img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}

#deletebox button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}
