/*Styles for the table*/
#cartproduct{

display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-top: 30px;
}
#cartproduct>div{
    padding: 20px;
    border: 2px solid #ffb301;
    border-radius: 10px;
    height: 500px;
}

#cartproduct>div>img{
    height: 60%;
    width: 100%;
}
#cartproduct>div>button{
    height: 40px;
    width: 80px;
    margin-left: 30%;
    background-color: #ffb301;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;
}
